[submodule "hudb/huddle"]
	path = hudb/huddle
    url = https://github.com/brabect1/huddle
    branch = local_namespace
[submodule "uri"]
	path = uri
	url = https://github.com/brabect1/uri
	branch = local_namespace
